.expense-item-card{
    max-width: 400px;
    max-height: 150px;
    padding: 8px;
    margin: 16px 0;

    &:hover{
        transform: scale(1.1);
    }

    .card-body{
        padding: 8px;;
    }

}
